[submodule "account-abstraction"]
	path = account-abstraction
	url = https://github.com/proofofsoulprotocol/account-abstraction
	branch = ver0.6.0
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
